@import "./yorumi.css";

html[data-theme="abyss"] {
  --foreground: var(--yorumi-tsuki4);
  --foreground-secondary: var(--yorumi-tsuki2);
  --foreground-accent: var(--yorumi-raito-blue);
  --foreground-muted: var(--yorumi-tsuki1);

  --surface-primary: var(--yorumi-yoru0);
  --surface-secondary: var(--yorumi-yoru1);
  --surface-tertiary: var(--yorumi-yoru2);
  --surface-floating: var(--yorumi-yoru);

  --ghost: var(--yorumi-tsuki0);
  --borders: var(--yorumi-yoru4);
  --links: var(--yorumi-kairo-cyan);
  --buttons: var(--yorumi-tsuki4);
  --shadows: var(--yorumi-umi-cyan);

  --red: var(--yorumi-kairo-red);
  --red-dull: var(--yorumi-sango-red);
  --red-hl: var(--yorumi-kuroi-red);

  --green: var(--yorumi-kairo-green);
  --green-dull: var(--yorumi-sango-green);
  --green-hl: var(--yorumi-kuroi-green);

  --blue: var(--yorumi-kairo-blue);
  --blue-dull: var(--yorumi-sango-blue);
  --blue-hl: var(--yorumi-kuroi-blue);

  --yellow: var(--yorumi-kairo-yellow);
  --yellow-dull: var(--yorumi-sango-yellow);
  --yellow-hl: var(--yorumi-kuroi-yellow);

  --magenta: var(--yorumi-kairo-magenta);
  --magenta-dull: var(--yorumi-sango-magenta);
  --magenta-hl: var(--yorumi-kuroi-magenta);

  --cyan: var(--yorumi-kairo-cyan);
  --cyan-dull: var(--yorumi-sango-cyan);
  --cyan-hl: var(--yorumi-kuroi-cyan);

  --purple: var(--yorumi-kairo-purple);
  --purple-dull: var(--yorumi-sango-purple);
  --purple-hl: var(--yorumi-kuroi-purple);

  --orange: var(--yorumi-kairo-orange);
  --orange-dull: var(--yorumi-sango-orange);
  --orange-hl: var(--yorumi-kuroi-orange);
}

html[data-theme="mist"] {
  --foreground: var(--yorumi-yoru0);
  --foreground-secondary: var(--yorumi-yoru3);
  --foreground-accent: var(--yorumi-kuroi-blue);
  --foreground-muted: var(--yorumi-yoru4);

  --surface-primary: var(--yorumi-tsuki4);
  --surface-secondary: var(--yorumi-tsuki3);
  --surface-tertiary: var(--yorumi-tsuki2);
  --surface-floating: var(--yorumi-tsukiA);

  --ghost: var(--yorumi-tsuki0);
  --borders: var(--yorumi-tsuki1);
  --links: var(--yorumi-umi-blue);
  --buttons: var(--yorumi-yoru);
  --shadows: var(--yorumi-yoru);

  --red: var(--yorumi-umi-red);
  --red-dull: var(--yorumi-sango-red);
  --red-hl: var(--yorumi-raito-red);

  --green: var(--yorumi-umi-green);
  --green-dull: var(--yorumi-sango-green);
  --green-hl: var(--yorumi-raito-green);

  --blue: var(--yorumi-umi-blue);
  --blue-dull: var(--yorumi-sango-blue);
  --blue-hl: var(--yorumi-raito-blue);

  --yellow: var(--yorumi-umi-yellow);
  --yellow-dull: var(--yorumi-sango-yellow);
  --yellow-hl: var(--yorumi-raito-yellow);

  --magenta: var(--yorumi-umi-magenta);
  --magenta-dull: var(--yorumi-sango-magenta);
  --magenta-hl: var(--yorumi-raito-magenta);

  --cyan: var(--yorumi-umi-cyan);
  --cyan-dull: var(--yorumi-sango-cyan);
  --cyan-hl: var(--yorumi-raito-cyan);

  --purple: var(--yorumi-umi-purple);
  --purple-dull: var(--yorumi-sango-purple);
  --purple-hl: var(--yorumi-raito-purple);

  --orange: var(--yorumi-umi-orange);
  --orange-dull: var(--yorumi-sango-orange);
  --orange-hl: var(--yorumi-raito-orange);
}

html[data-theme="shade"] {
  --foreground: var(--yorumi-tsuki4);
  --foreground-secondary: var(--yorumi-tsuki2);
  --foreground-accent: var(--yorumi-tsukiB);
  --foreground-muted: var(--yorumi-tsuki1);

  --surface-primary: var(--yorumi-yoruB);
  --surface-secondary: var(--yorumi-yoru);
  --surface-tertiary: var(--yorumi-yoru0);
  --surface-floating: var(--yorumi-yoruP);

  --ghost: var(--yorumi-tsuki0);
  --borders: var(--yorumi-yoru4);
  --links: var(--yorumi-sango-blue);
  --buttons: var(--yorumi-tsuki);
  --shadows: var(--yorumi-tsukiB);

  --red: var(--yorumi-kairo-red);
  --red-dull: var(--yorumi-sango-red);
  --red-hl: var(--yorumi-kuroi-red);

  --green: var(--yorumi-kairo-green);
  --green-dull: var(--yorumi-sango-green);
  --green-hl: var(--yorumi-kuroi-green);

  --blue: var(--yorumi-kairo-blue);
  --blue-dull: var(--yorumi-sango-blue);
  --blue-hl: var(--yorumi-kuroi-blue);

  --yellow: var(--yorumi-kairo-yellow);
  --yellow-dull: var(--yorumi-sango-yellow);
  --yellow-hl: var(--yorumi-kuroi-yellow);

  --magenta: var(--yorumi-kairo-magenta);
  --magenta-dull: var(--yorumi-sango-magenta);
  --magenta-hl: var(--yorumi-kuroi-magenta);

  --cyan: var(--yorumi-kairo-cyan);
  --cyan-dull: var(--yorumi-sango-cyan);
  --cyan-hl: var(--yorumi-kuroi-cyan);

  --purple: var(--yorumi-kairo-purple);
  --purple-dull: var(--yorumi-sango-purple);
  --purple-hl: var(--yorumi-kuroi-purple);

  --orange: var(--yorumi-kairo-orange);
  --orange-dull: var(--yorumi-sango-orange);
  --orange-hl: var(--yorumi-kuroi-orange);
}

html[data-theme="kraken"] {
  --foreground: var(--yorumi-tsuki4);
  --foreground-secondary: var(--yorumi-tsuki2);
  --foreground-accent: var(--yorumi-raito-purple);
  --foreground-muted: var(--yorumi-tsuki1);

  --surface-primary: var(--yorumi-yoruP);
  --surface-secondary: var(--yorumi-yoru1);
  --surface-tertiary: var(--yorumi-yoru2);
  --surface-floating: var(--yorumi-kuroi-purple);

  --ghost: var(--yorumi-tsuki0);
  --borders: var(--yorumi-kuroi-purple);
  --links: var(--yorumi-sango-purple);
  --buttons: var(--yorumi-kairo-purple);
  --shadows: var(--yorumi-umi-purple);

  --red: var(--yorumi-kairo-red);
  --red-dull: var(--yorumi-sango-red);
  --red-hl: var(--yorumi-kuroi-red);

  --green: var(--yorumi-kairo-green);
  --green-dull: var(--yorumi-sango-green);
  --green-hl: var(--yorumi-kuroi-green);

  --blue: var(--yorumi-kairo-blue);
  --blue-dull: var(--yorumi-sango-blue);
  --blue-hl: var(--yorumi-kuroi-blue);

  --yellow: var(--yorumi-kairo-yellow);
  --yellow-dull: var(--yorumi-sango-yellow);
  --yellow-hl: var(--yorumi-kuroi-yellow);

  --magenta: var(--yorumi-kairo-magenta);
  --magenta-dull: var(--yorumi-sango-magenta);
  --magenta-hl: var(--yorumi-kuroi-magenta);

  --cyan: var(--yorumi-kairo-cyan);
  --cyan-dull: var(--yorumi-sango-cyan);
  --cyan-hl: var(--yorumi-kuroi-cyan);

  --purple: var(--yorumi-kairo-purple);
  --purple-dull: var(--yorumi-sango-purple);
  --purple-hl: var(--yorumi-kuroi-purple);

  --orange: var(--yorumi-kairo-orange);
  --orange-dull: var(--yorumi-sango-orange);
  --orange-hl: var(--yorumi-kuroi-orange);
}
